.bg{
    max-width: 1000px;
    margin: 0 auto;
}


section#projects{
    margin-top: 5rem;
    text-align: center;
}

section#projects h2{
    padding-bottom: 5px;
}

section#projects .container-projects{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 10rem 0;
    
    
    
}

section#projects .project-box{
    display: flex;
    background: var(--bg-color);
    width: 50rem;
    margin: 5rem 0;
    border-radius: 0.7rem;
    align-items: center;
    width: 100%;
    box-shadow: 0 60px 80px var(--box-shadow), 0 45px 26px rgba(0,0,0,0.14);
    height: 20rem;
    
}

section#projects .project-box img{
    flex: 40%;
    height: 100%;
    border-radius: 0.7rem 0rem 0rem 0.7rem;

}

section#projects .project-box-text{
    flex: 60%;
    text-align: left;
    margin: 0 2rem;
    padding-top: 5rem;
    font-family:'inter';
    font-weight: 500;
    font-size: 1.1rem;
    color: var(--third-color);
    height: 100%;

}

section#projects .project-box-text h3{
    color: var(--first-color);
}

section#projects .project-box-text .skills{
    display: flex;
    gap: 3rem;
    margin-top: 2rem;
    
}

section#projects .project-box-text .skills p{
    border: 2px solid #6c4caf;
    padding: 8px;
    color: var(--h2-color);
    border-radius: 0.3rem;
    font-size: 0.85rem;
}


section#projects .project-box-text h3{
    font-family:'inter';
    font-weight: 900;
    font-size: 1.5rem;
    
    
}

section#projects .project-box-text .links{
    display: flex;
    gap: 1rem;
    font-family:'inter';
    font-weight: 400;
    font-size: 1em;
    
    margin-top: 2rem;
}

section#projects .project-box-text .links a{
    color: white;
    border-radius: 0.3rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    background: rgb(119, 0, 255);
    background: linear-gradient(90deg, rgb(127, 44, 182) 0%, rgba(93,120,156,1) 100%);
    transition: 0.3s;
}

section#projects .project-box-text .links a:hover{
    transform: scale(0.95);
    opacity: 0.8;
    
}
