@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Martel+Sans:wght@300;400;700;900&display=swap');

@keyframes float {
    0% {
        transform: translateY(1rem);
    }
    50% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(1rem);
    }
}

/*Variables*/
:root{
    --first-color: #6C4CAF;
    --second-color: #4D4D4D;

}

/* Scrollbar */
/*::-webkit-scrollbar{
    width: 10px;
    background: none;
    border-radius: 10px;
}*/

header{
    box-shadow: 0px 3px 17px -6px rgba(0,0,0,0.75);
    margin: 0 auto;
    width: 100%;
    height: 4rem;
    z-index: 1000;
}
.navbar{
    display: flex;
    margin: 0 4rem 0 4rem;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    
}

.navbar p{
    color: #4D4D4D;
    font-family:'inter';
    font-weight: 500;
    font-size: 1.5rem;
    
}

.menu a{
    text-decoration: none;
    font-weight: 500;
    padding: 1rem;
    font-family: 'inter';
    color: #4D4D4D;
    
}

.menu a:hover{
    opacity: 50%;
}

#Projeto-btn{
    box-shadow: 0px 0px 4px 0px #6C4CAF;
	background-color: var(--first-color);
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'inter';
	font-size:17px;
	padding:14px 26px;
	text-decoration:none;
}

.hero-section{
    background-color: #F5F7FA;
    display: flex;
    
    height: 25rem;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: inset 0px 0px 17px 6px rgba(0,0,0,0.1);
}

.hero-right img{
    width: 300px;
    height: 300px;
}

.hero-left p{
    color: var(--second-color);
    font-size: 4rem;
    font-family: 'inter';
    margin-bottom: 0.5rem;
}

#dev-text{
    color: var(--first-color);
}

.desc-section{
    height: 10rem;
    display: flex;
    justify-content: center;
    margin-top: 2rem;

}

.desc-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 60%;
    font-family: 'inter';
    color: var(--second-color);
    font-size: 1rem;
    
}

.desc-container h1{
    padding-bottom: 2rem;
    font-size: 2rem;
    font-weight: 600;
    
}

#habilidades{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0px 0px 17px 6px rgba(0,0,0,0.1);
    height: 15rem;
    
}

.container-skills{
    display: flex;
}

section#habilidades .language-box{
    display: flex;
    text-align: center;
    background: linear-gradient(90deg, rgb(108 76 175) 0%, rgb(108 76 175) 100%);
    width: 10rem;
    flex-direction: column;
    align-items: center;
    border-radius: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 1rem;
    box-shadow: var(--box-shadow-lang) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


section#habilidades .language-box h3{
    margin-top: 1rem;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    
}

section#habilidades .language-box img{
    width: 5rem;
    height: 5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: var(--first-color);;
}

section#habilidades .language-box:hover{
    transform: scale(1.1);
}

#experiencia{
    display: flex;
    padding-top: 2rem;
    justify-content: space-around;
    padding-bottom: 2rem;
    
    
    
}


#experiencia img{
    margin-left: 4rem;
    margin-right: 2rem;
    width: 250px;
    height: 250px;
    filter: drop-shadow( var(--second-color) 0.5rem 0.5rem 1rem);
    
    
}

.exp-right{
    width: 50%;
    font-family: 'inter';
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: var(--second-color);
}

.exp-right h1{
    font-size: 2rem;
    color: var(--first-color);
    font-weight: 600;
    
}

#form-section{
    box-shadow: inset 0px 0px 17px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 20rem;
    font-family: 'inter';
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#form-section p{
    color: var(--second-color );
    font-size: 2rem;
    font-weight: 600;
    
}

.formula-left input{
    background-color: #D9D9D9;
    border-style: none;
    border-radius: 10px;
    padding: 0.5rem;
    width: 15rem;
    box-shadow: 3px 10px 22px -8px rgba(0,0,0,0.75);
}

.formula-left form div{
    margin-top: 2rem;
    
}

.form-submit input{
    border-style: none;
    box-shadow: 0px 0px 4px 0px #6C4CAF;
	background-color: var(--first-color);
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: 'inter';
	font-size:17px;
	padding:10px 26px;
	text-decoration:none;
}

.form-text textarea{
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    border-radius: 10px;
    background-color: #d9d9d9;
    font-size: 16px;
    resize: none;
    border-style: none;
    box-shadow: 3px 10px 22px -8px rgba(0,0,0,0.75);
    margin-bottom: 1rem;
    
}

#footer{
    background: var(--first-color);;
    padding: 3rem 0;
    text-align: center;
    
}

#footer p{
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-weight: 500;
    font-size: 1.1rem;
}

